.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.header {
  width: 100%;
  height: 70px;
  background-color: #282828;
  position: fixed;
  z-index: 10;
}

/* Form */
.login-container {
  margin-top: 140px;
  position: relative;
  /*padding: 35px;*/
  background: rgba(0,0,0,.7);
  border-radius: 3px;
  width: 310px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.login-body {
  padding: 30px;
  padding-top: 25px;
}

.login-header {
  padding: 30px 30px 0 30px;
  border-radius: 3px 3px 0 0;
}
.login-header img {
  width: 100%;
}

.password-link {
  color: #4CAF50;
  text-decoration: none;
}

.field {
  position: relative;
  margin-bottom: 2em;
}
.label {
  position: absolute;
  height: 2rem;
  line-height: 2rem;
  bottom: 0;
  left: 0;
  color: #999;
  transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.input {
  width: 100%;
  font-size: 100%;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 2rem;
  line-height: 2rem;
  border-bottom: 2px solid #ccc;
  color: #ccc;
  transition: all .2s ease-in;
}
.input:focus {
  outline: 0;
  border-bottom: 2px solid #eee;
}

/* Using required and a faux pattern to see if input has text from http://stackoverflow.com/questions/16952526/detect-if-an-input-has-text-in-it-using-css */
.input:focus + .label,
input:valid + .label {
  transform: translateY(-80%);
  font-size: 0.75rem;
  color: #ccc;
}

.login-button {
  
  text-align: center;
  width: 100%;
 
  background: hsl(356, 61%, 50%);
  border-radius: 3px;
  
  margin-bottom: 1.7em;
  overflow: hidden;
  z-index: 1;
}

.login-button .btn {
  border: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: all .2s;
  background: transparent;
  position: relative;
  font-size: 100%;
  height: 3.0rem;
  line-height: 2.5rem;
  padding: 0 1.5rem;
  color: #eee;
  z-index: 3;
  outline: none;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	transition: all 0.3s;
  width: 0;
	height: 100%;
	top: 50%;
	left: 50%;
	background: hsl(356, 91%, 50%);
	opacity: 0;
	transform: translateY(-50%) translateX(-50%) ;
}

.btn:hover,
.btn:active {
	color: #fff;
}

.btn:hover:after {
	width: 80%;
	opacity: 1;
}

.btn:active:after {
	width: 100%;
	opacity: 1;
}

@media (max-height: 700px) {
  .login-container {
    margin-top: 50px;
  }
}
@media (max-width: 420px) {
  .login-container {
    margin-top: 0;
    width: 100%;
    border-radius: 0;
  }
  .login-header {
    border-radius: 0;
  }
}

/* Landscape */
@media only screen 
  /*and (min-device-width: 320px) 
  and (max-device-width: 768px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {*/
  and (max-height: 500px) {
  .flex-between {
    display: block;
  }
  .login-container {
    margin-top: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    text-align: initial;
    box-shadow: none;
  }
  .login-header {
    border-radius: 0;
  }
  .login-header img {
    width: 180px;
  }
  .password-link {
    float: right;
  }
  .field {
    display: inline-block;
    width: 49%;
    padding-right: 10px;
  }
  footer.link-effect {
    box-shadow: none;
  }
}

/* You can add global styles to this file, and also import other style files */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html {
    height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  background: url("assets/Komatsu-operator-hood-view.jpg") 0 / cover fixed;
  background-position: center; 
  height: 100%;
  width: 100%;
}



/* footer */

footer.link-effect {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  text-align: left;
  width: 100%;
  padding: 10px;
  
  border-radius: 3px;
  background-color: rgba(0,0,0,.7);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
footer.link-effect a {
  display: inline-block;
  font-size: 1em;
  white-space: nowrap;
}
footer p {
  padding: 0 20px;
  text-align: right;
  flex-grow: 1;
  display: inline-block;
  color: white;
  float: right;
}

footer a {
	position: relative;
	display: inline-block;
	margin: 15px 25px;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1.35em;
}

footer a:hover,
footer a:focus {
	outline: none;
}

.link-effect a {
	padding: 0 20px;
	height: 45px;
	line-height: 45px;
}

.link-effect a::before,
.link-effect a::after {
	position: absolute;
	width: 45px;
	height: 2px;
	background: #fff;
	content: '';
	opacity: 0.2;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	pointer-events: none;
}

.link-effect a::before {
	top: 0;
	left: 0;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;
}

.link-effect a::after {
	right: 0;
	bottom: 0;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transform-origin: 100% 0;
	-moz-transform-origin: 100% 0;
	transform-origin: 100% 0;
}

.link-effect a:hover::before,
.link-effect a:hover::after,
.link-effect a:focus::before,
.link-effect a:focus::after {
	opacity: 1;
}

.link-effect a:hover::before,
.link-effect a:focus::before {
	left: 50%;
	-webkit-transform: rotate(0deg) translateX(-50%);
	-moz-transform: rotate(0deg) translateX(-50%);
	transform: rotate(0deg) translateX(-50%);
}

.link-effect a:hover::after,
.link-effect a:focus::after {
	right: 50%;
	-webkit-transform: rotate(0deg) translateX(50%);
	-moz-transform: rotate(0deg) translateX(50%);
	transform: rotate(0deg) translateX(50%);
}

@media (max-width: 610px) {
  footer.link-effect {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: left;
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, .7);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  footer.link-effect a {
    padding: 0;
    height: initial;
    line-height: inherit;
  }
  footer.link-effect a::before,
  footer.link-effect a::after {
    display: none;
  }
  footer p {
    display: none;
  }
}